.msgbox {
  background-color: green;
  max-width: 70%;
  border-radius: 10px;
  padding: 5px;
  align-self: flex-end;
  margin: 5px;
}

.msgtext {
  color: #fff;
  font-size: 16px;
}

.respuesta {
  color: black;
  font-size: 16px;
  margin-right: 30px;
}

.respuestaBox {
  background-color: white;
  max-width: 75%;
  border-radius: 10px;
  padding-right: 10px;
  align-self: flex-start;
  margin: 5px;
  border-width: 0.5px;
  border-color: grey;
  flex-direction: row;
}
